{% extends 'base.html.twig'%}

{% block body %}
<title>Comment</title>

    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Commentaire</th>
                <td>{{ comment.commentary }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ comment.grade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}">Retour</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">Editer</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
