{% extends 'base.html.twig'%}

{% block body %}

<title>Reservation index</title>
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>BeginDate</th>
                <th>EndDate</th>
                <th>Confirmed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.beginDate ? reservation.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.confirmed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
