{% extends 'base.html.twig'%}

{% block body %}

<title>Reservation index</title>
    <h1>Liste de mes réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date de début de séjour</th>
                <th>Date de fin de séjour</th>
                <th>Confirmé</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.beginDate ? reservation.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.confirmed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Aperçu</a>
                </td>
                <td>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune occurence trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
