{% extends 'base.html.twig'%}

{% block body %}

<title>Client index</title>

    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>FamilyName</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Country</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.firstname }}</td>
                <td>{{ client.familyName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.gender }}</td>
                <td>{{ client.country }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
