{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <h1>Découvrez nos chambres dans la région {{ region.name }}</h1>

    <table class="table">
        <tbody>
        <thead>
            <tr>
               
                <th>Résumé</th>
                <th>Description</th>
                <th>Capacité</th>
                <th>Superficie</th>
                <th>Prix</th>
                <th>Adresse</th>
               
            </tr>
        </thead>
        <tbody>
        {% for room in region.rooms %}
            <tr>
               
                <td>{{ room.summary }}</td>
                <td>{{ room.description }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.superficy }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.address }}</td>
                {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN')   %}
                <td> <center> <a href="{{ path('room_show' , {'id' : room.id })  }}">Aperçu</a></center></td>
                {% endif %}

                {% if  is_granted('ROLE_ADMIN')   %}
                    <a href="{{ path('region_edit', {'id': room.id}) }}">Editer cette région</a>
                {% endif %}
                
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune occurence trouvée</td>
            </tr>
            
              
      
          
           {% endfor %}   
        </tbody>
    </table>

  
{% endblock %}
   
  