{% extends 'base.html.twig' %}
{% block body %}
<title>Region index</title>
    <h1>Region index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Pays</th>
                <th>Interagir</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.name }}</td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}">Aperçu</a>
                    {% if is_granted('ROLE_ADMIN')  %}
                    <a href="{{ path('region_edit', {'id': region.id}) }}">Editer</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune occurence trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_new') }}">Créer une nouvelle région</a>
{% endblock %}
