{% extends 'base.html.twig'%}

{% block body %}
<title>Région</title>
    <h1>Région</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ region.name }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ region.presentation }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ region.country }}</td>
            </tr>
            <tr>
                <th>Chambres disponibles</th>
                <td>{% for room in region.rooms %}
                        {{ room }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">Retour</a>

    <a href="{{ path('region_edit', {'id': region.id}) }}">Editer</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
